.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.boxForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
